html, body {
  height: 100%;
}

.container-fluid {
  height: 100%;
  width: 100%;
}

.container-fluid > .row {
  height: 100%;
}

.container-fluid > .row > div {
  height: 100%;
  padding: 0;
}

#map {
  bottom: 0;
  position: absolute; 
  top: 0; 
  width: 100%; 
}
